= render 'messages/sidebar'

.right
  .right__header 
    .right__header__current_group_name
      =@group.name
    .right__header__joined_user
      ここにメンバーを表示しないといけない
    .right__header__btn
      =link_to edit_group_path(@group), class: "EditLink" do
        Edit
  
  
  .messages
    = render @messages
  
  

.form
  = form_for [@group, @message] do |f|
    = f.text_field :content, class: 'form__message', placeholder: 'type a message'
    .form__mask
      = f.label :image, class: 'form__mask__image' do
        = fa_icon 'picture-o', class: 'image'
        = f.file_field :image, class: 'hidden'
    = f.submit 'Send', class: 'send'