= render 'messages/sidebar'

.right
  .right__header 
    .right__header__current_group_name
      current group name
    .right__header__joined_user
      Member: joined user name
    .right__header__btn
      =link_to edit_group_path(@group), class: "EditLink" do
        Edit
  
  
  .right__main
    = render @messages
  
  

.form
  = form_for [@group, @message] do |f|
    = f.text_field :content, class: 'form__message', placeholder: 'type a message'
    .form__mask
      = f.label :image, class: 'form__mask__image' do
        = fa_icon 'picture-o', class: 'image'
        = f.file_field :image, class: 'hidden'
    = f.submit 'Send', class: 'send'



  -# %input.form__message{:placeholder => "type a message"}
  -#   .form__message__photo
  -#     =link_to "https://cdn-ak.f.st-hatena.com/images/fotolife/n/ninna2/20170411/20170411015358.jpg",class: "image"  do
  -#       = fa_icon 'image'
  -# .form__btn
  -#   =link_to "https://cdn-ak.f.st-hatena.com/images/fotolife/n/ninna2/20170411/20170411015358.jpg", class: "Send" do
  -#     Send







